<mat-toolbar role="header" color="accent">
  <div class="header-div">
    <button mat-button routerLink="/overview">Earthquakes Overview</button> 
    <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/login">Login</button>
    <button *ngIf="!authService.isLoggedIn()" mat-button routerLink="/register">Register</button>
    <button *ngIf="authService.isLoggedIn()" mat-button routerLink="/feedback">Did you experience an earthquake?</button>
    <button *ngIf="authService.isLoggedIn()" mat-button routerLink="/reports">Reports</button>
    <button *ngIf="authService.isLoggedIn()" mat-button routerLink="/travel">Safe Travel</button>
    <button *ngIf="authService.isLoggedIn() && !authService.isAdmin" mat-button routerLink="/profile">My Profile</button>
    <button *ngIf="authService.isAdmin" mat-button routerLink="/admin">Admin</button>
    <button *ngIf="authService.isLoggedIn()" mat-button routerLink="/logout">Logout</button>
  </div>
</mat-toolbar>