<mat-card color="warn" *ngFor="let report of reportsData">
  <mat-card-title>Earthquake - {{report.eventId}}</mat-card-title>
  <mat-card-subtitle>Name: {{report.authorName}}</mat-card-subtitle>
  <mat-card-subtitle>Strength: {{report.strength}}</mat-card-subtitle>
  <mat-card-content>{{report.text}}</mat-card-content>
  <mat-card-actions *ngIf="authService.isAdmin">
    <button (click)="EditReport()" mat-button>Edit</button>
    <button (click)="DeleteReport()" mat-button>Delete</button>
  </mat-card-actions>
</mat-card>